<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Package Delivery</title>
    <link
      rel="stylesheet"
      type="text/css"
      id="applicationStylesheet"
      href="addNewTask_page.css"
    />
    <!-- <script id="applicationScript" type="text/javascript" src="addNewTask.js"></script> -->
  </head>
  <body>
    <div id="iPhone_12_Pro_Max__5">
      <svg class="navigationBar">
        <rect
          id="navigationBar"
          rx="0"
          ry="0"
          x="0"
          y="0"
          width="428"
          height="76"
        ></rect>
      </svg>
      <div id="Add_New_Task">
        <span>Add New Task</span>
      </div>
      <img
        style="
          filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.416));
          position: absolute;
          width: 33px;
          height: 31px;
          left: 15px;
          top: 24px;
          overflow: visible;
        "
        id="icons8-back-64"
        src="icons8-back-64.png"
        srcset="icons8-back-64.png 1x, icons8-back-64@2x.png 2x"
      />

      <svg class="addNewTaskCompleteView">
        <rect
          id="addNewTaskCompleteView"
          rx="0"
          ry="0"
          x="0"
          y="0"
          width="428"
          height="790"
        ></rect>
      </svg>
      <svg class="taskNameField">
        <rect
          id="taskNameField"
          rx="10"
          ry="10"
          x="0"
          y="0"
          width="389"
          height="50"
        ></rect>
      </svg>
      <svg class="scheduledDateField">
        <rect
          id="scheduledDateField"
          rx="10"
          ry="10"
          x="0"
          y="0"
          width="389"
          height="50"
        ></rect>
      </svg>
      <svg class="selectLocationField">
        <rect
          id="selectLocationField"
          rx="10"
          ry="10"
          x="0"
          y="0"
          width="389"
          height="50"
        ></rect>
      </svg>
      <svg class="locationMapView">
        <rect
          id="locationMapView"
          rx="0"
          ry="0"
          x="0"
          y="0"
          width="389"
          height="421"
        ></rect>
      </svg>
      <svg class="addNewTaskButton">
        <rect
          id="addNewTaskButton"
          rx="20"
          ry="20"
          x="0"
          y="0"
          width="341"
          height="50"
        ></rect>
      </svg>
      <div id="Add_new_task">
        <span>Add new task</span>
      </div>
      <div id="Task_Name">
        <span>Task Name</span>
      </div>
      <div id="Scheduled_Date_Time">
        <span>Scheduled Date Time</span>
      </div>
      <div id="Location">
        <span>Location</span>
      </div>
      <svg class="datePickerButton">
        <rect
          id="datePickerButton"
          rx="5"
          ry="5"
          x="0"
          y="0"
          width="50"
          height="50"
        ></rect>
      </svg>
      <img
        style="
          position: absolute;
          width: 36px;
          height: 36px;
          left: 363px;
          top: 234px;
          overflow: visible;
        "
        id="datePickerImage"
        src="datePickerImage.png"
        srcset="datePickerImage.png 1x, datePickerImage@2x.png 2x"
      />
    </div>
  </body>
</html>
