<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Package Delivery</title>
    <link
      rel="stylesheet"
      type="text/css"
      id="applicationStylesheet"
      href="adminLogs_page.css"
    />
    <!-- <script id="applicationScript" type="text/javascript" src="adminLogs.js"></script> -->
  </head>
  <body>
    <div id="iPhone_12_Pro_Max__4">
      <svg class="navigationBar">
        <rect
          id="navigationBar"
          rx="0"
          ry="0"
          x="0"
          y="0"
          width="428"
          height="76"
        ></rect>
      </svg>
      <div id="Logs">
        <span>Logs</span>
      </div>
      <img
        style="
          filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.416));
          position: absolute;
          width: 33px;
          height: 31px;
          left: 15px;
          top: 24px;
          overflow: visible;
        "
        id="icons8-back-64"
        src="icons8-back-64.png"
        srcset="icons8-back-64.png 1x, icons8-back-64@2x.png 2x"
      />

      <svg class="Rectangle_7">
        <rect
          id="Rectangle_7"
          rx="0"
          ry="0"
          x="0"
          y="0"
          width="428"
          height="829"
        ></rect>
      </svg>
      <svg class="Rectangle_8">
        <rect
          id="Rectangle_8"
          rx="0"
          ry="0"
          x="0"
          y="0"
          width="410"
          height="139"
        ></rect>
      </svg>
      <div id="Date_Time_2012-06-10_145800000">
        <span>Date Time: 2012-06-10 14:58:00.000</span>
      </div>
      <div id="Event_Type_create_task">
        <span>Event Type: create task</span>
      </div>
      <div id="Username_jameskelvin">
        <span>Username: james.kelvin</span>
      </div>
      <div id="Extra_Info_Any_relevant_inform">
        <span>Extra Info: Any relevant information</span>
      </div>
    </div>
  </body>
</html>
