<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 user-scalable=no"
    />
    <link rel="stylesheet" href="../css/landingPage.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="iPhone_12_Pro_Max__1">
      <header>
        <nav>
          <ul>
            <li><div  class="Package_Delivery"><title></title>Package Delivery<title><div></li>
            <li><button class="userProfileButton" id="userProfileButton">JK</button></li>
            </ul>
        </nav>
      </header>
      <!-- <div class="navigationBar"> -->
      <!-- <svg class="navigationBar">
          <rect
            class="navigationBar"
            rx="0"
            ry="0"
            x="0"
            y="0"
            width="100%"
            height="76"
          ></rect>
        </svg> -->

      <!-- <div class="Package_Delivery"><title>Package Delivery</title></div>
        <div>
          <button class="userProfileButton" id="userProfileButton">JK</button>
        </div> -->
      <!-- <ul>
          <li><title class="Package_Delivery">Package Delivery</title></li>
          <li style="float: right">
            <button class="userProfileButton" id="userProfileButton">JK</button>
          </li>
        </ul> -->
      <!-- <hr />
      </div> -->

      <div>
        <div>
          <input
            type="date"
            class="scheduledDatePicker"
            id="scheduledDatePicker"
          />
        </div>
        <div>
          <ul>
            <li>
              <button class="addTaskButtonask" id="addTaskButtonask" onclick="">
                Add Task
              </button>
            </li>
            <li>
              <button
                class="showNotificationToken"
                id="showNotificationToken"
                onclick=""
              >
                Show Notification Token
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
