<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 user-scalable=no"
    />
    <title>Package Delivery</title>
    <link
      rel="stylesheet"
      type="text/css"
      id="applicationStylesheet"
      href="../css/landing_page.css"
    />
    <!-- <script id="applicationScript" type="text/javascript" src="landingPage.js"></script> -->
  </head>
  <body>
    <div class="iPhone_12_Pro_Max__1">
      <div>
        <svg class="navigationBar">
          <rect
            id="navigationBar"
            rx="0"
            ry="0"
            x="0"
            y="0"
            width="428"
            height="76"
          ></rect>
        </svg>
        <div id="Package_Delivery">
          <title class="Package_Delivery">Package Delivery</title>
          <button
            class="userProfileButton"
            value="JK"
            id="userProfileButton"
            rx="24"
            ry="22"
            cx="24"
            cy="22"
          ></button>
        </div>
      </div>

      <!-- <div id="JK">
        <span>JK</span>
      </div> -->
      <div
        class="containerViewFirstPart"
        rx="0"
        ry="0"
        x="0"
        y="0"
        width="405"
        height="192"
      >
        <div>
          <input
            type="text"
            class="dateField"
            placeholder="Scheduled Date Time"
            rx="10"
            ry="10"
            x="0"
            y="0"
            width="384"
            height="50"
          />
          <!-- <input
            type="image"
            src="../img/datePickerImage.png"
            class="datePickerButton"
            rx="5"
            ry="5"
            x="0"
            y="0"
            width="51"
            height="50"
          /> -->
        </div>

        <div>
          <button
            class="showNotificationTokenButton"
            id="showNotificationTokenButton"
            name="Show notification token"
            rx="10"
            ry="10"
            x="0"
            y="0"
            width="182"
            height="54"
          ></button>
          <button
            class="addTaskButton"
            name="Add Task"
            rx="10"
            ry="10"
            x="0"
            y="0"
            width="182"
            height="54"
          ></button>
        </div>
      </div>

      <!-- <img
        style="
          position: absolute;
          width: 36px;
          height: 36px;
          left: 365px;
          top: 108px;
          overflow: visible;
        "
        id="datePickerImage"
        src="datePickerImage.png"
        srcset="datePickerImage.png 1x, datePickerImage@2x.png 2x"
      /> -->

      <!-- <div id="Add_Task">
        <span>Add Task</span>
      </div> -->
      <!-- <div id="Show_notification_token_">
        <span>Show notification token</span><br />
      </div> -->
      <!-- <div>
        <table
          class="tasksTableView"
          id="tasksTableView"
          rx="0"
          ry="0"
          x="0"
          y="0"
          width="427"
          height="647"
        >
          <tr
            class="tableViewCell1"
            id="tableViewCell1"
            rx="0"
            ry="0"
            x="0"
            y="0"
            width="405"
            height="82"
          >
            Task Name
          </tr>
          <input
            type="image"
            style="
              filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.224));
              position: absolute;
              width: 24px;
              height: 24px;
              left: 384px;
              top: 315px;
              overflow: visible;
            "
            id="icons8-chevron-right-30"
            src="icons8-chevron-right-30.png"
          />
        </table>
      </div> -->
      <!-- <div id="Task_Name_Ggfccfcfcfcfcfcfcf_">
        <span>Task Name<br />Ggfccfcfcfcfcfcfcf</span><br />
      </div>
      <div id="ID22-06-2021_1105_PM">
        <span>22-06-2021 11:05 PM</span>
      </div> -->
      <!-- <img
        style="
          filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.224));
          position: absolute;
          width: 24px;
          height: 24px;
          left: 384px;
          top: 315px;
          overflow: visible;
        "
        id="icons8-chevron-right-30"
        src="icons8-chevron-right-30.png"
        srcset="
          icons8-chevron-right-30.png    1x,
          icons8-chevron-right-30@2x.png 2x
        "
      /> -->
    </div>
  </body>
</html>
