<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Package Delivery</title>
    <link
      rel="stylesheet"
      type="text/css"
      id="applicationStylesheet"
      href="taskDetail_page.css"
    />
    <!-- <script
      id="applicationScript"
      type="text/javascript"
      src="taskDetail.js"
    ></script> -->
  </head>
  <body>
    <div id="iPhone_12_Pro_Max__2">
      <svg class="navigationBar">
        <rect
          id="navigationBar"
          rx="0"
          ry="0"
          x="0"
          y="0"
          width="428"
          height="76"
        ></rect>
      </svg>
      <div id="Package_Delivery">
        <span>Package Delivery</span>
      </div>
      <svg class="userProfileButton">
        <ellipse
          id="userProfileButton"
          rx="24"
          ry="22"
          cx="24"
          cy="22"
        ></ellipse>
      </svg>
      <div id="JK">
        <span>JK</span>
      </div>
      <svg class="containerViewFirstPart">
        <rect
          id="containerViewFirstPart"
          rx="0"
          ry="0"
          x="0"
          y="0"
          width="406"
          height="192"
        ></rect>
      </svg>
      <svg class="cancelButton">
        <rect
          id="cancelButton"
          rx="10"
          ry="10"
          x="0"
          y="0"
          width="121"
          height="54"
        ></rect>
      </svg>
      <svg class="startButton">
        <rect
          id="startButton"
          rx="10"
          ry="10"
          x="0"
          y="0"
          width="121"
          height="54"
        ></rect>
      </svg>
      <svg class="completeButton">
        <rect
          id="completeButton"
          rx="10"
          ry="10"
          x="0"
          y="0"
          width="121"
          height="54"
        ></rect>
      </svg>
      <div id="Start">
        <span>Start</span>
      </div>
      <div id="Cancel">
        <span>Cancel</span>
      </div>
      <div id="Complete">
        <span>Complete</span>
      </div>
      <div id="Task_Name_1ehfuebfeub_fjbwfwbf">
        <span>Task Name 1ehfuebfeub fjbwfwbfbnb wdubwu</span>
      </div>
      <svg class="containerViewSecondPart">
        <rect
          id="containerViewSecondPart"
          rx="0"
          ry="0"
          x="0"
          y="0"
          width="406"
          height="184"
        ></rect>
      </svg>
      <svg class="containerViewThirdPart">
        <rect
          id="containerViewThirdPart"
          rx="0"
          ry="0"
          x="0"
          y="0"
          width="406"
          height="433"
        ></rect>
      </svg>
      <div id="Task_name__Task_name">
        <span>Task name: Task name</span>
      </div>
      <div id="Location_Convert_to_address">
        <span>Location: Convert to address</span>
      </div>
      <div id="Task_State_Pending">
        <span>Task State: Pending</span>
      </div>
      <img
        style="
          filter: drop-shadow(5px 4px 10px rgba(0, 0, 0, 0.435));
          position: absolute;
          width: 128px;
          height: 124px;
          left: 267px;
          top: 312px;
          overflow: visible;
        "
        id="barcodeImageButtonView"
        src="barcodeImageButtonView.png"
        srcset="barcodeImageButtonView.png 1x, barcodeImageButtonView@2x.png 2x"
      />

      <img
        style="
          filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.416));
          position: absolute;
          width: 33px;
          height: 31px;
          left: 15px;
          top: 24px;
          overflow: visible;
        "
        id="icons8-back-64"
        src="icons8-back-64.png"
        srcset="icons8-back-64.png 1x, icons8-back-64@2x.png 2x"
      />
    </div>
  </body>
</html>
