.mediaViewInfo {
  --web-view-name: iPhone 12 Pro Max – 4;
  --web-view-id: iPhone_12_Pro_Max__4;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: fit;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: iPhone_12_Pro_Max__4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#iPhone_12_Pro_Max__4 {
  position: absolute;
  width: 428px;
  height: 926px;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  --web-view-name: iPhone 12 Pro Max – 4;
  --web-view-id: iPhone_12_Pro_Max__4;
  --web-scale-to-fit: true;
  --web-scale-to-fit-type: fit;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#navigationBar {
  fill: rgba(99, 154, 162, 1);
}
.navigationBar {
  position: absolute;
  overflow: visible;
  width: 428px;
  height: 76px;
  left: 1px;
  top: 0px;
}
#Logs {
  left: 95px;
  top: 24px;
  position: absolute;
  overflow: visible;
  width: 218px;
  height: 31px;
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
}
#icons8-back-64 {
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.416));
  position: absolute;
  width: 33px;
  height: 31px;
  left: 15px;
  top: 24px;
  overflow: visible;
}
#Rectangle_7 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_7 {
  position: absolute;
  overflow: visible;
  width: 428px;
  height: 829px;
  left: 0px;
  top: 97px;
}
#Rectangle_8 {
  fill: rgba(255, 255, 255, 1);
}
.Rectangle_8 {
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.098));
  position: absolute;
  overflow: visible;
  width: 440px;
  height: 169px;
  left: 9px;
  top: 114px;
}
#Date_Time_2012-06-10_145800000 {
  left: 15px;
  top: 125px;
  position: absolute;
  overflow: visible;
  width: 394px;
  white-space: nowrap;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
}
#Event_Type_create_task {
  left: 15px;
  top: 157px;
  position: absolute;
  overflow: visible;
  width: 404px;
  white-space: nowrap;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
}
#Username_jameskelvin {
  left: 16px;
  top: 190px;
  position: absolute;
  overflow: visible;
  width: 404px;
  white-space: nowrap;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
}
#Extra_Info_Any_relevant_inform {
  left: 15px;
  top: 223px;
  position: absolute;
  overflow: visible;
  width: 394px;
  white-space: nowrap;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
}
